@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700;900&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Root */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #151414;
  --dark-grey-color: #40434f;
  --light-grey-color: #d2d4db;
  --white-color: #fafffd;
  --lime-color: #c5f613;
}

body {
  font-family: Raleway, sans-serif;
}

/* Utilities */

.container-fluid {
  background-color: var(--black-color);
}

.btn {
  border-radius: 0;
  font-weight: 700;
  border: none;
}

.btn-light {
  background-color: transparent;
  color: var(--white-color);
  outline: 2px var(--light-grey-color) solid;
  outline-offset: -0.2rem;
  transition: all 100ms ease-in-out;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
  background-color: transparent;
  color: var(--white-color);
  outline: 4px var(--lime-color) solid;
}

/* Navigation */

#main-nav {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

#nav-container {
  background-color: var(--black-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
}

#southpaw-abbreviated-logo {
  color: var(--white-color);
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  margin: 0;
  position: relative;
  text-decoration: none;
}

#southpaw-abbreviated-logo::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  border: 0.15rem var(--dark-grey-color) solid;
  transition: border 300ms ease-in-out;
}

#southpaw-abbreviated-logo::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0.3rem;
  left: 0;
  border: 0.15rem transparent solid;
  transition: all 100ms ease-in-out;
}

#southpaw-abbreviated-logo:hover::after,
#southpaw-abbreviated-logo:focus::after,
#southpaw-abbreviated-logo:active::after {
  border: 0.15rem var(--lime-color) solid;
  width: 100%;
}

#southpaw-abbreviated-logo abbr {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  background-color: transparent;
}

.nav-pills .nav-link {
  color: var(--light-grey-color);
  font-weight: 700;
  border-radius: 0;
  position: relative;
  padding: 0.5rem 0;
  margin: 0 0.3rem;
  text-transform: uppercase;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  color: var(--white-color);
}

.nav-pills .nav-link::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  border: 0.15rem var(--dark-grey-color) solid;
  transition: border 300ms ease-in-out;
}

.nav-pills .nav-link::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -0.1rem;
  left: 0;
  border: 0.15rem transparent solid;
  transition: all 100ms ease-in-out;
}

.nav-pills .nav-link:hover::after,
.nav-pills .nav-link:focus::after,
.nav-pills .nav-link:active::after {
  border: 0.15rem var(--lime-color) solid;
  width: 100%;
}

.nav-pills .nav-link.active {
  color: var(--white-color);
  background-color: transparent;
}

.nav-pills .nav-link.active::after {
  border: 0.15rem var(--lime-color) solid;
  width: 100%;
}

/* Header */

.header-container {
  background-color: var(--dark-grey-color);
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container h1,
h2 {
  color: var(--white-color);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.header-container p {
  color: var(--white-color);
  margin: 0;
}

.header-container i {
  color: var(--white-color);
  font-size: 1.2rem;
}

/* Boxing Guide */

.guide-slide {
  height: 70vh;
}

#guide-intro-welcome {
  height: 40vh;

  /* Credited Code (Placing a dark overlay over a background image, #3 in credited code list within README) */
  background: rgba(0, 0, 0, 0.4)
    url(../images/boxing-guide/southpaw-image-child-posture.jpg) no-repeat
    center/cover;
  background-blend-mode: multiply;
}

#guide-intro-welcome p {
  color: var(--white-color);
  text-align: end;
}

#guide-intro-welcome p:last-child {
  margin: 0;
}

/* Public Sessions */

#public-session-container {
  height: 80vh;
  background-color: var(--white-color);
}

#public-session-container .row {
  height: 50%;
}

.public-session-info {
  background-color: var(--white-color);
  text-align: left;
  justify-content: center;
  align-items: center;
}

.public-session-info p {
  margin-bottom: 0;
  letter-spacing: 0.25px;
}

.public-session-times {
  background-color: var(--black-color);
}

.public-session-times h3,
.public-session-times h4 {
  color: var(--white-color);
  margin-bottom: 0;
}

.public-session-times h3 {
  font-weight: 700;
}

.public-session-times h4 {
  font-size: 1.05rem;
  text-transform: uppercase;
}

.public-session-times time,
.public-session-times p {
  color: var(--light-grey-color);
  margin-bottom: 0;
}

.price-on-door {
  font-size: 0.85rem;
}

/* Private Sessions */

#private-session-video {
  height: 25vh;
  background-color: var(--light-grey-color);
  position: relative;
}

#private-session-video video {
  /* Credited Code (Video filling entire container, #2 in credited code list within README) */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#private-session-info {
  height: 35vh;
}

#private-session-info p {
  margin-bottom: 0;
  letter-spacing: 0.25px;
}

#session-contact-container {
  height: 10vh;
}

#private-price-container {
  background-color: var(--light-grey-color);
}

#private-price-container p {
  color: var(--black-color);
  letter-spacing: 0.8px;
}

/* Form */

#form-container {
  background-color: var(--white-color);
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#form-container .form {
  background-color: var(--dark-grey-color);
  height: 90%;
  width: 100%;
}

#form-call-to-action {
  color: var(--white-color);
  margin: 0;
}

#form-container .form label {
  color: var(--white-color);
  letter-spacing: 0.1rem;
}

#form-container .form input {
  border-radius: 0;
  border: none;
  background-color: var(--white-color);
}

#form-container .form input,
#form-container .form textarea {
  padding-left: 5px;
}

#form-container .form input:focus,
#form-container .form textarea:focus,
#form-container .form button:focus {
  outline: 3px var(--lime-color) solid;
}

#form-container .form input::placeholder,
#form-container .form textarea::placeholder {
  color: var(--dark-grey-color);
}

/* Footer */

#footer-container {
  background-color: var(--black-color);
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-container p {
  color: var(--light-grey-color);
  font-size: 0.8rem;
  margin-bottom: 0;
}

#social-media-footer-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

#footer-container ul li a i {
  color: var(--light-grey-color);
  font-size: 1.5rem;
  padding: 0 0.75rem;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  margin: 0.3rem 0 0 0;
}

#footer-container i:hover {
  color: var(--lime-color);
}
