@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@700;900&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* Root */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black-color: #151414;
  --dark-grey-color: #40434f;
  --light-grey-color: #d2d4db;
  --white-color: #fafffd;
  --trans-white-color: rgba(250, 255, 253, 0.85);
  --lime-color: #c5f613;
  --responsive-headings: clamp(1rem, 2.8vh, 2rem);
  --responsive-text: clamp(0.9rem, 2.7vh, 1.1rem);
}

body {
  font-family: Raleway, sans-serif;
}

/* Utilities */

.container-fluid {
  background-color: var(--black-color);
}

.btn {
  border-radius: 0;
  font-weight: 700;
  border: none;
}

.btn-light {
  background-color: transparent;
  color: var(--white-color);
  outline: 2px var(--light-grey-color) solid;
  outline-offset: -0.2rem;
  transition: all 100ms ease-in-out;
}

.btn-light:hover,
.btn-light:active,
.btn-light:focus {
  background-color: transparent;
  color: var(--white-color);
  outline: 4px var(--lime-color) solid;
}

.btn-dark {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  transition: all 100ms ease-in-out;
}

.btn-dark:hover,
.btn-dark:active,
.btn-dark:focus {
  background-color: var(--dark-grey-color);
  color: var(--white-color);
  outline: 4px var(--lime-color) solid;
}

.btn-modal-close {
  background-color: transparent;
  border: none;
  color: var(--white-color);
  font-size: 1.5rem;
}

/* Navigation */

#main-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
}

#nav-container {
  background-color: var(--black-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 10vh;
  /* padding-bottom: 0.4rem; */
}

#southpaw-abbreviated-logo {
  color: var(--white-color);
  font-family: "Big Shoulders Stencil Display", sans-serif;
  font-weight: 900;
  font-size: 2.2rem;
  margin: 0;
  position: relative;
  text-decoration: none;
  transition: color 200ms ease-in-out;
}

#southpaw-abbreviated-logo:hover,
#southpaw-abbreviated-logo:focus,
#southpaw-abbreviated-logo:active {
  color: var(--lime-color);
}

#southpaw-abbreviated-logo abbr {
  text-decoration: none;
  cursor: pointer;
}

.nav {
  background-color: transparent;
}

.nav-pills .nav-link {
  color: var(--light-grey-color);
  font-weight: 700;
  border-radius: 0;
  position: relative;
  padding: 0.5rem 0;
  margin: 0 0.3rem;
  text-transform: uppercase;
}

.nav-pills .nav-link:hover,
.nav-pills .nav-link:focus {
  color: var(--white-color);
}

.nav-pills .nav-link::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  border: 0.15rem var(--dark-grey-color) solid;
  transition: border 300ms ease-in-out;
}

.nav-pills .nav-link::after {
  content: "";
  width: 0;
  position: absolute;
  bottom: 0.2rem;
  left: 0;
  border: 0.15rem transparent solid;
  transition: all 100ms ease-in-out;
}

.nav-pills .nav-link:hover::after,
.nav-pills .nav-link:focus::after,
.nav-pills .nav-link:active::after {
  border: 0.15rem var(--lime-color) solid;
  width: 100%;
}

.nav-pills .nav-link.active {
  color: var(--white-color);
  background-color: transparent;
}

.nav-pills .nav-link.active::after {
  border: 0.15rem var(--lime-color) solid;
  width: 100%;
}

/* Home Page */

#home-container {
  height: 100vh;
  width: 100vw;
  position: relative;
  padding: 0;
  overflow: hidden;
}

#video-bg {
  height: 100%;
  width: 100%;
  padding: 0;
  position: absolute;
}

#video-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

#video-bg video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

#home-container img {
  max-width: 70%;
  z-index: 1;
  object-fit: cover;
}

#home-container p {
  color: var(--white-color);
  font-size: var(--responsive-text);
  width: 75%;
  text-align: center;
  margin: 2rem 0 0.5rem 0;
  z-index: 1;
}

#home-container a {
  z-index: 1;
}

#home-container ul {
  margin-top: 1.5rem;
}

#home-container ul li {
  z-index: 3;
}

/* Header */

.header-container,
.header-container-no-hover {
  background-color: var(--dark-grey-color);
  height: 5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.header-container::before {
  background-color: transparent;
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 3px;
  transition: all 300ms ease-in-out;
}

.header-container:hover::before {
  background-color: var(--lime-color);
  width: 100%;
}

.header-container .header-container h1,
h2,
.header-container-no-hover h1,
.header-container-no-hover h2 {
  color: var(--white-color);
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.header-container p,
.header-container-no-hover p {
  color: var(--white-color);
  margin: 0;
}

.header-container i,
.header-container-no-hover i {
  color: var(--white-color);
  font-size: 1.2rem;
}

.header-container button {
  background-color: transparent;
  border: none;
  width: 100%;
}

/* Boxing Guide */

#guide-dropdown-btn {
  width: 100%;
  text-transform: uppercase;
  font-size: 1.1rem;
}

#guide-dropdown-btn.show {
  background-color: var(--dark-grey-color);
}

.dropdown .dropdown-menu {
  width: 100%;
  border-radius: 0;
}

.dropdown-item {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

.dropdown-item.active,
.dropdown-item:active {
  color: var(--white-color);
  background-color: var(--dark-grey-color);
}

#boxing-guide-container {
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 90vh;

  /* Credited Code (Placing a dark overlay over a background image, #3 in credited code list within README) */
  background: rgba(0, 0, 0, 0.75)
    url(../images/boxing-guide/southpaw-image-woman-ropes.jpg) no-repeat
    center/cover;
  background-blend-mode: multiply;
}

.guide-slide {
  scroll-snap-align: start;
  height: 90vh;
  overflow: hidden;
}

/* Modal Styling */

.modal-content {
  border-radius: 0;
}

.modal-content h5 {
  text-transform: uppercase;
  font-weight: bold;
}

.modal-header {
  background-color: var(--dark-grey-color);
  border-radius: 0;
}

.modal-header h5 {
  color: var(--white-color);
}

.btn-modal-close:hover,
.btn-modal-close:active,
.btn-modal-close:focus {
  color: var(--lime-color);
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.modal-body iframe {
  width: 100%;
  height: 180px;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Guide Intro Section */

#guide-intro-welcome {
  height: 65vh;

  /* Credited Code (Placing a dark overlay over a background image, #3 in credited code list within README) */
  background: rgba(0, 0, 0, 0.6)
    url(../images/boxing-guide/southpaw-image-child-posture.jpg) no-repeat
    center/cover;
  background-blend-mode: multiply;
}

#guide-intro-welcome img {
  object-fit: cover;
  max-width: 70%;
}

#guide-intro-welcome-text p {
  color: var(--white-color);
  font-size: var(--responsive-text);
}

#guide-intro-welcome p:last-child,
#guide-intro-text p:last-child {
  margin: 0;
}

#guide-intro-info {
  background-color: var(--trans-white-color);
  height: 20vh;
  border-top: 3px;
}

#guide-intro-info p {
  font-size: var(--responsive-text);
}

/* Why Boxing Section */

#why-boxing-quote-row {
  height: 45vh;
}

#why-boxing-image,
#why-boxing-image img {
  height: 100%;
}

#why-boxing-image {
  padding: 0;
}

#why-boxing-image img {
  object-fit: cover;
  width: 100%;
}

#why-boxing-quote-text {
  background-color: var(--trans-white-color);
}

#why-boxing-quote-text p {
  color: var(--black-color);
  margin-bottom: 0.5rem;
  font-size: var(--responsive-text);
}

#why-boxing-quote-text figcaption {
  font-size: 0.8rem;
  text-align: right;
}

#why-boxing-challenge-row {
  background: transparent;
  height: 15vh;
}

#why-boxing-challenge-row p {
  color: var(--white-color);
  font-size: var(--responsive-text);
}

#why-boxing-bullet-row {
  height: 25vh;
  background-color: var(--trans-white-color);
  position: relative;
}

#why-boxing-button {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  width: auto;
}

#why-boxing-bullet-text p {
  font-size: var(--responsive-text);
  width: 60%;
  margin-bottom: 0;
}

/* Boxing & Kickboxing Section */

#box-kick-container h3 {
  position: absolute;
  text-transform: uppercase;
  font-weight: bold;
}

#box-kick-boxing-row,
#box-kick-kickboxing-row {
  height: 42.5vh;
  padding: 0.5rem;
  position: relative;
}

#box-kick-boxing-row {
  background-color: transparent;
}

#box-kick-boxing-row h3 {
  top: 0.5rem;
  right: 0.7rem;
  color: var(--white-color);
}

#box-kick-boxing-row p {
  color: var(--white-color);
  margin-bottom: 0;
  font-size: var(--responsive-text);
  text-align: right;
}

#box-kick-boxing-row button {
  position: absolute;
  left: 0;
  bottom: 0.8rem;
}

#box-kick-kickboxing-row {
  background-color: var(--trans-white-color);
}

#box-kick-kickboxing-row h3 {
  top: 0.5rem;
  left: 0.7rem;
  color: var(--black-color);
}

#box-kick-kickboxing-row p {
  text-align: left;
  margin-bottom: 0;
  font-size: var(--responsive-text);
}

#box-kick-kickboxing-row button {
  position: absolute;
  right: 0;
  bottom: 0.8rem;
}

/* Junior Boxing Section */

.junior-boxing-question-row {
  height: 30vh;
  background-color: var(--trans-white-color);
  padding: 0 0.5rem;
}

.junior-boxing-question-row .col-12 {
  position: relative;
}

.junior-boxing-question-row h3 {
  position: absolute;
  font-style: italic;
  font-weight: bold;
  font-size: var(--responsive-headings);
  top: 0.7rem;
  right: 0.7rem;
  color: var(--black-color);
}

.junior-boxing-question-row p {
  font-size: var(--responsive-text);
  margin-top: 1.2rem;
  margin-bottom: 0;
}

.junior-boxing-question-row p a {
  color: var(--dark-grey-color);
}

.junior-boxing-question-row p a:hover,
.junior-boxing-question-row p a:focus,
.junior-boxing-question-row p a:active {
  color: var(--lime-color);
}

#junior-boxing-video-row {
  height: 25vh;
  padding: 0;
  position: relative;
}

#junior-boxing-video-row video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#junior-boxing-video-row button {
  z-index: 5;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

/* Clothing Section */

#clothing-note-row,
#clothing-top-row,
#clothing-bottom-row {
  position: relative;
}

#clothing-note-row {
  height: 15vh;
}

#clothing-note-row p,
#clothing-bottom-row p {
  color: var(--white-color);
  font-size: var(--responsive-text);
  margin-bottom: 0;
}

#clothing-top-row {
  background-color: var(--trans-white-color);
  height: 35vh;
}

#clothing-top-row h3 {
  position: absolute;
  color: var(--black-color);
  top: 0.5rem;
  left: 0.7rem;
}

#clothing-top-row p {
  font-size: var(--responsive-text);
  margin-bottom: 0;
}

#clothing-top-row button {
  position: absolute;
  right: 0;
  bottom: 0.7rem;
}

#clothing-bottom-row {
  height: 35vh;
}

#clothing-bottom-row h3 {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  color: var(--white-color);
}

#clothing-bottom-row p {
  font-size: var(--responsive-text);
  margin-bottom: 0;
  text-align: right;
}

#clothing-bottom-row button {
  position: absolute;
  left: 0;
  bottom: 0.7rem;
}

/* Closing Note Section */

#closing-note-image {
  height: 27.5vh;
  padding: 0;
}

#closing-note-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#closing-note-quote-text {
  height: 12.5vh;
}

#closing-note-quote-text {
  color: var(--white-color);
  font-size: var(--responsive-text);
}

#closing-note-quote-text p {
  margin-bottom: 0.2rem;
}

#closing-note-quote-text figcaption {
  font-size: var(--responsive-text);
}

#closing-note-session-row {
  font-size: var(--responsive-text);
  color: var(--black-color);
  background-color: var(--white-color);
  height: 15vh;
}

#closing-note-contact-row {
  font-size: var(--responsive-text);
  color: var(--white-color);
  height: 20vh;
}

/* Guide Footer */

.guide-footer {
  background-color: var(--black-color);
  height: 10vh;
}

/* Public Sessions */

#public-session-container {
  height: 80vh;
  background-color: var(--white-color);
}

#public-session-container .row {
  height: 50%;
}

#public-session-container address {
  margin-bottom: 0.5rem;
}

.public-session-info {
  background-color: var(--white-color);
  text-align: left;
  justify-content: center;
  align-items: center;
}

.public-session-info p {
  margin-bottom: 0;
  letter-spacing: 0.25px;
  font-size: var(--responsive-text);
}

.public-session-times {
  background-color: var(--black-color);
}

.public-session-times h3,
.public-session-times h4 {
  color: var(--white-color);
  margin-bottom: 0;
}

.public-session-times h3 {
  font-weight: 700;
}

.public-session-times h4 {
  font-size: 1.05rem;
  text-transform: uppercase;
}

.public-session-times time,
.public-session-times p {
  color: var(--light-grey-color);
  margin-bottom: 0;
  font-size: 0.75rem;
}

.price-on-door {
  font-size: 0.9rem;
}

/* Private Sessions */

#private-session-video {
  height: 25vh;
  background-color: var(--light-grey-color);
  position: relative;
}

#private-session-video video {
  /* Credited Code (Video filling entire container, #2 in credited code list within README) */
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#private-session-info {
  height: 35vh;
}

#private-session-info p {
  margin-bottom: 0;
  letter-spacing: 0.25px;
  font-size: var(--responsive-text);
}

#session-contact-container {
  height: 10vh;
}

#session-contact-questions p {
  font-size: var(--responsive-text);
}

#private-price-container {
  background-color: var(--light-grey-color);
}

#private-price-container p {
  color: var(--black-color);
  letter-spacing: 0.8px;
  font-size: var(--responsive-text);
}

/* Form */

#form-container {
  background-color: var(--white-color);
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

#form-container .form {
  background-color: var(--dark-grey-color);
  height: 100%;
  width: 100%;
}

#form-call-to-action {
  color: var(--white-color);
  margin: 0;
  font-size: 1.4rem;
}

#form-container .form label {
  color: var(--white-color);
  letter-spacing: 0.06rem;
  font-size: 0.9rem;
}

#form-container .form input {
  border-radius: 0;
  border: none;
  background-color: var(--white-color);
}

#form-container .form input,
#form-container .form textarea {
  padding-left: 5px;
}

#form-container select {
  border-radius: 0;
  border: none;
  height: 24px;
  background-color: var(--white-color);
}

#form-container .form input:focus,
#form-container .form textarea:focus,
#form-container .form button:focus,
#form-container .form select:focus {
  outline: 3px var(--lime-color) solid;
}

#form-container .form input::placeholder,
#form-container .form textarea::placeholder,
#form-container .form select {
  color: var(--dark-grey-color);
}

#form-container textarea {
  border-radius: 0;
  border: none;
  height: 6rem;
}

/* Footer */

#footer-container {
  background-color: var(--black-color);
  height: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#footer-container p {
  color: var(--light-grey-color);
  font-size: 0.8rem;
  margin-bottom: 0;
}

#social-media-footer-links {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

#social-media-footer-links li a i {
  color: var(--light-grey-color);
  font-size: 1.5rem;
  padding: 0 0.75rem;
  cursor: pointer;
  transition: color 200ms ease-in-out;
  margin: 0.3rem 0 0 0;
}

#footer-container i:hover {
  color: var(--lime-color);
}
